<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>视频聊天</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="login-container">
      <input
        type="text"
        placeholder="输入登录名"
        class="login-name"
        id="login-name"
      />
      <button class="login-btn" id="login-btn">登录</button>
    </div>
    <br />
    <div>
      <div>点击选择用户进行p2p聊天，用户列表：</div>

      <div class="login-users-container">
        <ul id="login-users"></ul>
      </div>
    </div>
    <br />
    <div>
      消息：<input id="input-p2p-msg" />
      <button id="btn-send-p2p-msg">发送p2p消息</button>
    </div>
    <br />
    <div id="chat"></div>
    <br />
    <div class="video-talk-container">
      <div class="login-users-container">
        <ul id="login-users"></ul>
      </div>
      <br />

      <div>
        请求图片地址：<input id="input-p2p-msg" />
        <button id="btn-send-p2p-msg">请求</button>先检查远端是否存在
      </div>

      <br />
      <div class="video-container">
        <div class="local-video-wrapper">
          <label class="title">本地视频</label>
          <video id="local-video" class="local-video" autoplay></video>
        </div>
        <div class="remote-video-wrapper">
          <label class="title">远程视频</label>
          <video id="remote-video" autoplay></video>
        </div>
      </div>
    </div>

    <br />
    <div id="console"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
    <script>
      window.addEventListener("load", function () {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/sw.js");
          navigator.serviceWorker.addEventListener("message", function (event) {
            console.log("收到消息sw->html", event.data);
            if (event.data?.cmd == "request_source") {
              // 发起远端请求
              onSendP2PRequestSource(event.data);
            } else if (event.data?.cmd == "response_source") {
              // 本地sw检查cache返回
              onSendP2PResponseSource(event.data);
            }
          });
        }
      });
    </script>
  </body>
</html>
