<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>视频聊天</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="login-container">
      <input
        type="text"
        placeholder="输入登录名"
        class="login-name"
        id="login-name"
      />
      <button class="login-btn" id="login-btn">登录</button>
    </div>
    <br />
    <div>
      <div>点击选择用户进行p2p聊天，用户列表：</div>

      <div class="login-users-container">
        <ul id="login-users"></ul>
      </div>
    </div>
    <br />
    <div>
      消息：<input id="input-p2p-msg" />
      <button id="btn-send-p2p-msg">发送p2p消息</button>
    </div>
    <br />
    <div id="chat"></div>
    <br />
    <div class="video-talk-container">
      <div class="login-users-container">
        <ul id="login-users"></ul>
      </div>

      <br />
      <div class="video-container">
        <div class="local-video-wrapper">
          <label class="title">本地视频</label>
          <video id="local-video" class="local-video" autoplay></video>
        </div>
        <div class="remote-video-wrapper">
          <label class="title">远程视频</label>
          <video id="remote-video" autoplay></video>
        </div>
      </div>
    </div>

    <br />
    <div id="console"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
  </body>
</html>
